<div class="index-header">

</div>

<% @posts.each do |post|%>
<div class="tweet-content">
<%= link_to post.description, user_post_path(@user.id,post.id) %>
    <ul>
        <li><%= post.like.likes %></li>
    </ul>
<% end%>
</div>

<div>
<%= link_to "+" ,new_user_post_path %>
</div>