<%= @post.description %>
<%= @post.created_at %>
<p>いいね！</p>
<p id="iine">500</p>
<p>リツイート！</p>

<!--<script>-->
<!--    var min=1;-->
<!--    var max=1000;-->
<!--    var iine_count;-->
<!--    var addIine;-->
<!--    var current_iine;-->
    
<!--    addIine = Math.floor( Math.random() * (max + 1 - min) ) + min ;-->
    
<!--    current_iine=document.getElementById("iine");-->
<!--    iine_count=Number(current_iine);-->
    
    // id=iineの値を取得する（iとする。）
    // 10秒おきにランダムで、いくつのいいねを追加するかを取得する（aとする。）
    // iにaをたす。
<!--    iine_count=+addIine;-->
    // aをiineに反映させる。
<!--    current_iine.innerHTML = iine_count;-->
    // current_iine.value = "1000";
    
    const timer = 500000;   // ミリ秒で間隔の時間を指定
<!--    window.addEventListener('load',function(){-->
<!--  setInterval('location.reload()',timer);-->
<!--});-->
    
<!--</script>-->